

*,
*::before,
*::after {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/* шрифти  */
/* для параграфів */
@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); 
    src: url('../fonts/Roboto-Bold.ttf') format('truetype'); 
}
/* для заголовків */
@font-face {
    font-family: 'Playfair Display'; 
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'); 

}
/* заголовки */
h1,h2,h3,h4 {
    font-family: 'Playfair Display',serif;
    font-weight: 800;
}
/* все інше */
p,a,span,ul,ol{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
/* стилі шапки сайту */
.head {
    background-color: #003468; 
    color: white;
    padding: 20px 0;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}
/* стилі логотипа */
.logo {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); 
}

body{
 background-image: url(../image/v856-kul-10.jpg);
 background-position: center;
 background-repeat: repeat;
 background-size: cover;
}
/* стилі карточки  */

.hov-card{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.315);
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.272);
}
.hov-card:hover{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
    transition: box-shadow 0.2s ease-in;
}
/* стилі кнопки на карточці  */
.cart-btn{
    background-color:#003468 ;
}
.cart-btn:hover .card-btn-icon{
    transform: scale(1.2); /* або інший масштаб, який вам потрібен */
    transition: transform 0.3s ease-in-out;
}
.card-btn-icon{
    fill: #ffffff;
}
/* стилі картки акційної */
.ribbon {
    position: absolute;
    right: 0px;
    top: -15px;
    border-radius: 100%;
    background-color: rgb(13, 113, 0);
    color: #fff;
    font-size: 24px;
    padding: 18px 10px;
    transform: rotate(45deg);
    z-index: 1;
}

.ribbon span {
    display: inline-block;
}

/* стилі футера */
.foot{
    margin-top: 48px;
    background-color: #111111; 
    color: white;
    padding: 20px 0;
    box-shadow: 0 -8px 4px rgba(0, 0, 0, 0.1);
}